
@media screen and (max-width:1300px) {
    .productos-destacados {
        .destacado-caja {
            .destacado-1 {
                .foto-destacado-1 {
                    background-image: url(../img/mouse-logitech-superlight-media1.jpg);
                    height: 300px;
                }
            }
            .destacado-2 {
                .foto-destacado-2 {
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    header{
        .navbar{
            background-color: $color-principal;
            .container-fluid {
                .collapse{
                    ul{
                        li{
                            .nav-link {
                                color: black;
                            }
                        }
                    }
                }
                form{  
                    .form-control{
                        border-color: black;
                    }
                    .btn-outline-primary{
                        color: black ;
                        border-color: black ;
                    }
                }
            }
        }
    }
    main{
        #banner-acerca-de{
            h2{
                height: 400px;
                background-repeat: no-repeat ;
                background-position: center;
            }
        }
    }
    main{
        .productos-destacados{
            .destacado-caja{
                .destacado-1{
                    .foto-destacado-1{
                        background-image: url(../img/mouse-logitech-superlight-media2.jpg);
                        height: 200px;
                    }
                }
                .destacado-2{
                    .foto-destacado-2{
                        height: 200px;
                    }
                }
            }    
        }
        #logo-sponsors{
            div{
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 260px 260px;
            }
        }
    } 
}

@media screen and (max-width:800px){
    #banner1{
        .carousel{
            .carousel-inner{
                div{ 
                    img{
                        height: 300px;
                    }
                }
            } 
        } 
    }
    main{
        #banner-proximamente{
            h2{
                height: 436px;   
            }
        }
    }
}


@media screen and (max-width:670px){
    .productos-destacados{
        .destacado-caja{
            display: flex;
            flex-direction: column; 
            align-items: center;
            .destacado-1{
                margin: 10px 10px 30px 10px;
                width: 90vw;
                height: fit-content;
                .foto-destacado-1{
                    background-image: url(../img/mouse-logitech-superlight.jpg);
                    height: 300px !important;
                    width: 100%;
                }
                div{
                    width: fit-content;
                    max-height: 150px;
                }
            }
            .destacado-2{
                margin: 10px 10px 30px 10px;
                width: 90vw;
                height: fit-content;
                .foto-destacado-2{
                    background-image: url(../img/teclado-apex-pro.jpg);
                    height: 300px !important;
                    width: 100%;
                }
                div{
                    width: fit-content;
                    max-height: 150px;
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    main{
        #form{
            .form-titulo{
                h2{
                    font-size: 2.0rem;
                }
            }
        }
        #logo-sponsors{
            div{
                grid-template-columns: 1fr;
                grid-template-rows: 260px ;
            }
        }
        #banner2{
            h3{
                height: 300px
            }
        }
            #banner-acerca-de{
                display: none;
            }
            #enfoque-web{
                .primier-titulo-acerca-de{
                    margin-top: 0px;
                }  
            }
            #banner-proximamente{
                h2{
                    height: 336px;   
                }
            }
    }
}

@media screen and (max-width:458px){
    footer{
        .resumen{
            ul{
                li{
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        li{
                            div{
                                width: fit-content;
                                height: fit-content;
                                display: flex;
                                flex-direction: row;
                                img{
                                    img{
                                        width: 23px;
                                        height: 23px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        #form{
            .form-titulo{
                h2{
                    font-size: 2.5rem;  
                }
            }
        }
        #banner2{
            h3{
                height: 200px
            }
        }
        #banner-proximamente{
            h2{
                height: 236px;   
            }
        }
    }
}